*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-color: #f8eeff;
}

body:hover{
    background-color: #f0e1fa;
}


/* Container */

.container{
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Hamburger */

.hamburger-menu{
    display: none;
}

/* Intro */

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh; 
    background: url(assets/01.jpg) center no-repeat;
    background-size: cover;
}

.intro_title{
    font-family: 'Lobster', cursive;
    font-size: 200px;
    opacity: 0;
}

.intro_title:after {
    content: "";
    display: block;
    width: 500px;
    height: 3px;
    background-color: #fff;
    margin: 60px auto;
}

.intro_inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;    
    color: #fff;
    text-align: center;
}

/* Header */

.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 30px;
}   

/* Navigation */

.nav{
    display: flex;
    justify-content: center;
    opacity: 0;
}

.nav_link{
    margin: 0 20px;
    padding: 0 15px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    transition: color 0.1s linear;
}

.nav_link:hover{
    color: #a35dd1;
    text-transform: uppercase;
}

/* Button */

.btn{
    display: inline-block;
    vertical-align: top;
    padding: 10px 50px;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
    opacity: 0;
}

.btn:hover {
    background-color: #fff;
    color: #a35dd1;
}

/* Second section */

.about_header{
    font-family: 'Lobster', cursive;
    font-size: 50px;
    margin-top: 50px;
    color:#45235c;
    text-align: center;
}

.about_header:after {
    content: "";
    display: block;
    width: 500px;
    height: 3px;
    background-color: #45235c;
    margin: 10px auto 50px;
}

.about_main{
    display: flex;
}

.about_img{
    width: 400px;

}

.about_texte{
    margin-left: 50px;
    margin-top: 50px;
    color: #45235c;
    font-size: 18px;
    text-align: left;
}

/* 3 section */

.vid_01{
    display: flex;
}

.vid_02{
    display: flex;
}

.vid_img{
    width: 600px;
}

.right{
    margin-right: 50px;
}

.left{
    margin-left: 50px;
}

.vid_texte{
    margin-top: 50px;
    color: #45235c;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
}

.span{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

/* 4 section */

.list{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

.list_items{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.list_img{
    width: 200px;
    margin-bottom: 20px;
    align-self: center;
}

.list_h{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 20px;
    color:#45235c;
}

.list_descr{
    text-align: center;
    text-align: left;
    color: #45235c;
}

li{
    list-style: square;
}

/* 5 section */

.uhod{
    display: flex;
}

.uhod_texte{
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: underline;
}

#myVideo{
    width: 100%;
    margin-top: 50px;
}

/* Adaptation */

@media all and (max-width: 1200px) {

    .container{
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        padding: 0 15px;
        }
    
    /* Intro */
    
    .intro_title{
        font-size: 100px;
        margin-top: 70px;
    }
    
    .intro_title:after {
        width: 350px;
    }
    
    .intro_inner{
        max-width: 800px;
    }
    
    /* Navigation */
    
    .nav{
        display: flex;
        justify-content: center;
    }
    
    .nav_link{
        padding: 0 7px;
        font-size: 24px;
    }
    
    /* Second section */
    
    .about_header{
        margin-top: 30px;
    }
    
    
    .about_main{
        display: flex;
        flex-direction: column;
    }
    
    .about_img{
        width: 300px;
        align-self: center;
        margin-bottom: 30px;
    }
    
    .about_texte{
        margin-top: 30px;
        font-size: 16px;
        margin: 0;
    }
    
    /* 3 section */
    
    .vid_01{
        display: flex;
        flex-direction: column;
    }
    
    .vid_02{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .vid_img{
        width: 500px;
        align-self: center;
        margin: 15px 0;
    }
    
    .right{
        margin-right: 0px;
    }
    
    .left{
        margin-left: 0px;
    }
    
    .vid_texte{
        margin: 20px 0;
        font-size: 16px;
        text-align: left;
    }
    
    /* 4 section */
    
    .list{
        display: flex;
        flex-direction: column;
        max-width: 800px;
        margin: 0 auto;
    }
    
    .list_items{
        display: flex;
        flex-direction: column;
    }
    
    .list_img{
        width: 200px;
    }
    
    .list_h{
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    
    .list_descr{
        text-align: left;
        color: #45235c;
    }
    
    li{
        list-style: square;
        margin-left: 10px;
    }
    
    .uhod{
        display: flex;
        flex-direction: column;
    }
    
    #myVideo{
        width: 100%;
        margin-top: 50px;
    }
    }
    

@media all and (max-width: 700px) {

    .container{
        width: 100%;
        max-width: 700px;
        }
    
    /* Intro */
    
    .intro_title:after {
        width: 350px;
        margin-top: 10px;
    }
    }
    
@media all and (max-width: 500px) {

    .container{
        max-width: 500px;
        }
    
        /* Intro */
    
    .intro_title{
        font-size:80px;
    }
    
    .intro_title:after {
        width: 300px;
    }
    
    .intro_inner{
        max-width: 500px;
    }
    
    /* Navigation */
    
    .nav{
        display: none;
    }
    
/* Hamburger */

.hamburger-menu{
    display: inline;
}

/* hide the checkbox */
#menu__toggle {
opacity: 0;
}
/* style the button*/
.menu__btn {
display: flex; 
align-items: center;  
position: absolute;
top: 40px;
left: 40px;
width: 26px;
height: 26px;
cursor: pointer;
z-index: 1;
}
/* hamburger menu */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
display: block;
position: absolute;
width: 100%;
height: 2px;
background-color: #fff;
}
.menu__btn > span::before {
content: '';
top: -8px;
}
.menu__btn > span::after {
content: '';
top: 8px;
}

/* container menu */
.menu__box {
display: block;
position: fixed;
visibility: hidden;
top: 0;
left: -100%;
width: 300px;
height: 100%;
margin: 0;
padding: 80px 0px;
list-style: none;
text-align: left;
background-color: #c2a2d8;
box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

/* menu items */
.menu__item {
display: block;
padding: 12px 40px;
color: #fff;
font-family: 'Roboto Condensed', sans-serif;
font-size: 26px;
font-weight: 400;
text-decoration: none;
}
.menu__item:hover {
color:#45235c;
text-transform: uppercase;
}

#menu__toggle:checked ~ .menu__btn > span {
transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
top: 0;
transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
top: 0;
transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
visibility: visible;
left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
transition-duration: .25s;
}
.menu__box {
transition-duration: .25s;
}
.menu__item {
transition-duration: .25s;
}

    /* Second section */    
        
    .about_header:after {
        width: 350px;
        height: 3px;
    }

    .about_img{
        width: 300px;
        align-self: center;
        margin-bottom: 30px;
    }
    
    /* 3 section */
    
    .vid_img{
        width: 400px;
    }
            
    /* 4 section */

    .list_img{
        width: 150px;
        margin-bottom: 15px;
}
    
    #myVideo{
        width: 100%;
        margin-top: 30px;
    }
    }

    @media all and (max-width: 375px) {

        .container{
            max-width: 375px;
            }
        
            /* Intro */
        
        .intro_title{
            font-size:60px;
        }
        
        .intro_title:after {
            width: 200px;
            margin: 40px auto;
        }
        
        .intro_inner{
            max-width: 375px;
        }
        
        /* Navigation */
        
        .nav{
            display: none;
        }
        
        .nav_link{
            padding: 7px;
        }

        .about_header:after {
            width: 300px;
            height: 3px;
        }    

        .vid_img{
            width: 350px;
        }
        
        }

    @media all and (max-width: 320px) {

        .container{
            max-width: 320px;
            }
            
            /* Intro */
            
        .intro_title{
            font-size:50px;
        }
            
        .intro_title:after {
            width: 200px;
            margin: 30px auto;
        }
            
        .intro_inner{
            max-width: 320px;
        }
            
        /* Navigation */
            
        .nav{
            display: none;
        }
            
        .nav_link{
            padding: 3px;
        }
            
        .about_header:after {
            width: 280px;
            height: 3px;
        }

        .vid_img{
            width: 300px;
        }
    }