*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-color: #f8eeff;
}

body:hover{
    background-color: #f0e1fa;
}


/* Container */

.container{
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Hamburger */

.hamburger-menu{
    display: none;
}


/* Intro */

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh; 
    background: url(images/01-03.jpg) center no-repeat;
    background-size: cover;

}

.intro_title{
    font-family: 'Lobster', cursive;
    font-size: 200px;
    opacity: 0;
}

.intro_title:after {
    content: "";
    display: block;
    width: 500px;
    height: 3px;
    background-color: #fff;
    margin: 60px auto;

}

.intro_inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;    
    color: #fff;
    text-align: center;
}

/* Header */

.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 30px;
}   

/* Navigation */

.nav{
    display: flex;
    justify-content: center;
    opacity: 0;
}

.nav_link{
    margin: 0 20px;
    padding: 0 15px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    transition: color 0.1s linear;
}


.nav_link:hover{
    color: #a35dd1;
    text-transform: uppercase;
}

/* Button */

.btn{
    display: inline-block;
    vertical-align: top;
    padding: 10px 50px;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
    opacity: 0;
}

.btn:hover {
    background-color: #fff;
    color: #a35dd1;
}

/* Second section */

.about_header{
    font-family: 'Lobster', cursive;
    font-size: 50px;
    margin-top: 50px;
    color:#45235c;
    text-align: center;
}

.about_header:after {
    content: "";
    display: block;
    width: 500px;
    height: 3px;
    background-color: #45235c;
    margin: 10px auto 50px;
}

.about_main{
    display: flex;
}

.about_img{
    width: 400px;

}

.about_texte{
    margin-left: 50px;
    margin-top: 50px;
    color: #45235c;
    font-size: 18px;
    text-align: left;
}

/* 3 section */

.vid_01{
    display: flex;
}

.vid_02{
    display: flex;
}

.vid_img{
    width: 600px;
}

.right{
    margin-right: 50px;
}

.left{
    margin-left: 50px;
}

.vid_texte{
    margin-top: 50px;
    color: #45235c;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
}

.span{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

/* 4 section */

.list{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

.list_items{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.list_img{
    width: 200px;
    margin-bottom: 20px;
    align-self: center;
}

.list_h{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 20px;
    color:#45235c;
}

.list_descr{
    text-align: center;
    text-align: left;
    color: #45235c;
}

li{
    list-style: square;
}

/* 5 section */

.uhod{
    display: flex;
}

.uhod_texte{
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: underline;
}

#myVideo{
    width: 100%;
    margin-top: 50px;
}
